# .dockerignore
.git
.gitignore
node_modules
npm-debug.log
pnpm-debug.log
yarn-debug.log
yarn-error.log
.cache
.next
dist
coverage
.env.local
.env.development.local
.env.test.local
.env.production.local